li
  background: #CCC
  border-radius: 5px
  padding: 0 10px
  display: flex
  align-items: center
  justify-content: space-between
  gap: 5px

  &.selected
    background: #999

span
  padding: 10px 0
  font-size: 16px
  font-weight: 400
  line-height: 150%
