<div class="wrapper">
  <h1>Todo List</h1>

  @if (isLoading) {
    <span>Загрузка</span>
  } @else {
    <ul class="list">
      @for (item of toDoList; track item.id; let i = $index) {
        <app-to-do-list-item [item]="item" (delete)="deleteTask(i)"></app-to-do-list-item>
      }
    </ul>
  }

  <div class="new-task">
    <input type="text" placeholder="Add your new todo" [(ngModel)]="value">
    <app-button title="Add task" (clicked)="addTask()" [disabled]="!value"></app-button>
  </div>
</div>
