\:host
  display: flex
  align-items: center
  justify-content: center
  flex: 1

.add
  color: white
  border: none
  border-radius: 5px
  background: red
  padding: 16px 10px

.wrapper
  background: white
  width: 400px
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.17)
  border-radius: 10px
  padding: 20px 15px

h1
  font-size: 24px
  font-weight: 600
  line-height: 150%
  color: black
  margin-bottom: 15px

.list
  display: flex
  flex-direction: column
  gap: 8px
  margin-bottom: 30px

.new-task
  display: flex
  align-items: center
  gap: 5px

  input
    border: 1px solid #ccc
    padding: 10px
    border-radius: 5px
    flex: 1