<div class="wrapper">
  <h1>Todo List</h1>

  <ul class="list">
    <li class="list__item">
      <span>Buy a new gaming laptop</span>
      <button>Delete</button>
    </li>

    <li class="list__item">
      <span>Complete prevoius task</span>
      <button>Delete</button>
    </li>

    <li class="list__item">
      <span>Create some angular app</span>
      <button>Delete</button>
    </li>
  </ul>

  <div class="new-task">
    <input type="text" placeholder="Add your new todo">
    <button>Add task</button>
  </div>
</div>
